<html>
<body>
<h1>Mexico Lindo y Querido</h1>
<form action="/adivinanza">
<input type="text" name="letra"/>
<input type="hidden" name="palabra_secreta" id="palabra_secreta"/>
<input type="submit" name="adivinar" id="adivinar" />
</form>
</body>
</html>
