<html>
 <head>
	<title><%= @@titulo_app %></title>
 </head>
 <body>
   <form action="/jugar">
	<table>
		<tr>
			<td><h1><%= @@titulo_app %></h1></td>
		</tr>
		<tr>
			<td><p></p></td>
		</tr>
		<tr>
			<td><p><input type="submit" name="iniciar" id="iniciar" value="Iniciar juego" /></p></td>
		</tr>
	</table>
   </form>
 </body>
</html>
