<html>
 <head>
	<title>Mexico Lindo y Querido</title>
 </head>
 <body>
	<table>
		<tr>
			<td><h1>Mexico Lindo y Querido</h1></td>
		</tr>
		<tr>
			<td><h2>Juego iniciado Jugador</h2></td>
		</tr>
		<tr>
			<td><p>Pregunta</p></td>
		</tr>
		<tr>
			<td><p><%= @@pregunta %></p></td>
		</tr>
	</table>
 </body>
</html>
