<html>
 <head>
	<title>Mexico Lindo y Querido</title>
 </head>
 <body>
	<table>
		<tr>
			<td><h1>Mexico Lindo y Querido</h1></td>
		</tr>
		<tr>
			<td><h2>Juego iniciado Jugador</h2></td>
		</tr>
		<tr>
			<td><p>Pregunta</p></td>
		</tr>
		<tr>
			<td><p><%= @@pregunta %></p></td>
		</tr>
    <tr>
			<td><p>Ingrese su letra</p></td>
		</tr>
    <tr>
			<td><p>
        <form action="/enviar_letra">
          <input type="text" name="letra"/>
          <input type="submit" id="enviar"/>
        </form>
      </p></td>
		</tr>
    <tr>
			<td><p><%=@@mensaje%></p></td>
		</tr>

	</table>
 </body>
</html>
